.menu{
    display: inline-flex;
    color: var(--complementary-color);
}
.menu__item:not(:last-child){
    margin-right: 50px;
}
.menu__link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--time-hover);
}
.menu{
    font-weight: 500;
    letter-spacing: 0.02em;
}